/venv/
/assignment0_01_knn/__pycache__
.idea
/assignment0_01_knn/assignment_knn_template.ipynb
/assignment0_02_lin_reg/assignment0_02_submission_template.ipynb
/playground.ipynb
/assignement0_03_svm/assignment0_03_submission_template.ipynb
/assignment0_04_tree/assignment0_04_submission_template.ipynb
/lab02_deep_learning/fmnist/
