/venv/
/assignment0_01_knn/playground.ipynb
/assignment0_01_knn/__pycache__
.idea
/assignment0_01_knn/assignment_knn_template.ipynb
/assignment0_02_lin_reg/assignment0_02_submission_template.ipynb
/playground.ipynb
